# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# compiled output
/dist
/dist_prod
/tmp
/out-tsc

# automated video flows
/automated-flows/output
!automated-flows/styles/*.css

# dependencies
/node_modules
